.dial-pad {
  --dial-pad-button-size: 60px;
  --dial-pad-ruby-font-size: 10px;
  --dial-pad-text-font-size: 24px;
  --dial-pad-button-horizontal-size: 32px;
  --dial-pad-text-font-horizontal-size: 20px;

  align-items: center;
  background: #FAF9F8;
  border-radius: 8px 8px 0px 0px;
  box-shadow: -3.200000047683716px 0px 7.199999809265137px 0px rgba(0, 0, 0, 0.13), -0.6000000238418579px 0px 1.7999999523162842px 0px rgba(0, 0, 0, 0.10);
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.dial-pad__box {
  box-sizing: border-box;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  padding: 16px;
  width: 100%;
}

.dial-pad__box--horizontal {
  height: 48px;
  width: 360px;
}

.dial-pad__flipper--left {
  position: absolute;
  left: 0px;
  top: 8px;
  height: 32px;
  width: 32px;
  z-index: 999;
  background: #FFF;
  border: 0px;
  outline: 0px;
}

.dial-pad__flipper--right {
  position: absolute;
  right: 0px;
  top: 8px;
  height: 32px;
  width: 32px;
  z-index: 999;
  background: #FAF9F8;
  border: 0px;
  outline: 0px;
}

.dial-pad__flipper--right::after {
  width: 1px;
  height: 32px;
  background: #C8C6C4;
  filter: blur(2px);
}

.dial-pad__control {
  background: #FAF9F8;
  border: 1px solid #EDEBE9;
  border-radius: 100%;
  height: 30px;
  margin: 8px;
  padding: 8px;
  width: 30px;
}
