.dial-pad-button {
  -webkit-user-select: none;
  align-items: center;
  appearance: none;
  background-color: #DDD;
  border-radius: 100%;
  border: solid 1px #EEE;
  display: flex;
  flex-direction: column;
  height: var(--dial-pad-button-size);
  justify-content: center;
  position: relative;
  touch-action: none;
  user-select: none;
  width: var(--dial-pad-button-size);
}

.dial-pad-button__ruby {
  color: #666;
  font-size: var(--dial-pad-ruby-font-size);
}

.dial-pad-button__text {
  font-size: var(--dial-pad-text-font-size);
}
